/.dockerignore
/.editorconfig
/.env*
/public/storage
/.git*
/.idea*
/.phpstorm.meta.php
/.pre-commit-config.yaml
/.styleci.yml
/.travis.yml
/_ide_helper.php
/Dockerfile
/node_modules
/phpunit.xml
/phpunit.dusk.xml
/server.php
/storage/debugbar/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/tests/
/vendor/
/webpack.mix.js
