.dockerignore
.editorconfig
.env*
.git*
.idea*
.pre-commit-config.yaml
.styleci.yml
Dockerfile
node_modules
phpunit.dusk.xml
phpunit.xml
public/hot
public/storage
server.php
README.md
CONTRIBUTING.md
storage/*
tests
vendor
