/.git*
/.idea*
.dockerignore
.editorconfig
vendor/
bootstrap/cache
!bootstrap/cache/.gitignore
.phpstorm.meta.php
Dockerfile
_ide_helper.php
Dockerfile
docker-compose.yml
docker-compose.override.yml
docker-compose.override.yml.example
/storage/.install-completed
