/*.tar.gz
.env
.env.backup
/.idea
/.phpstorm.meta.php
/.phpunit.result.cache
/.vscode
/_ide_helper.php
/node_modules
/public/hot
/public/storage
/storage/*.bucket
/storage/*.key
/vendor
npm-debug.log
yarn-error.log
.phpunit.result.cache
