version: '3.8'
services:

    app:
        volumes:
            - "./:/var/www"
            - "./storage:/var/www/storage"
        user: "${UID}:${GID}"
    db:
        ports:
            - "3306:3306"
