/**
 * Imports
 */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,600");
@import "variables";
@import '~bootstrap/scss/bootstrap';
@import '~fullcalendar/dist/fullcalendar.css';

/**
 * Main layout
 */
html {
  position: relative;
  min-height: 100%;
}

body {
  background-image: url('../img/bg.jpg');
}

body > nav.navbar {
  min-height: 50px;
  padding-top: 0; /* reduce navbar height */
  padding-bottom: 0; /* reduce navbar height */
}

#admin-menu {
  margin-top: 5px; /* vertically center in navbar */
}

body > .container {
  margin-top: 60px; /* stop navbar covering content */
}

main.container {
  margin-bottom: 60px; /* ensure footer does not cover bottom of page */
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px; /* vertically center the text */
  z-index: 2; /* move in front of other content */
}
/**
 * Utilities
 */
.inline {
  display: inline;
}
div.inherit-size {
  width: inherit;
  height: inherit;
}

/**
 * Tables
 */
.table td {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  vertical-align: middle;
}

/**
 * Forms
 */
label.custom-file-label {
  overflow: hidden;
}

/**
 * Steam Avatars
 */
img.avatar,
img.avatar-small {
  border: 1px solid;
}

img.avatar-medium {
  border-width: 2px;
}

img.avatar-large {
  border-width: 3px;
}

img.avatar-in-game {
  border-color: #19A601;
}

img.avatar-online,
img.avatar-away,
img.avatar-snooze,
img.looking-to-play,
img.looking-to-trade {
  border-color: #01ABFE;
}

img.avatar-offline,
img.avatar-unknown {
  border-color: #333;
}

/**
 * user.show
 */
div.profile-header div.profile-avatar {
  height: 190px;
  float: left;
  margin-right: 10px;
}

div.profile-header h1 {
  margin: 0px;
  line-height: 190px;
}

/**
 * games.index
 */
table.live-games td.user-count,
table.recent-games td.user-count,
table.owned-games td.user-count {
  font-size: 200%;
  font-weight: bold;
  padding: 0px 30px;
}

table.live-games td.game,
table.recent-games td.game,
table.owned-games td.game {
  width: 184px;
}

/**
 * lan.show
 */
table.popular-games td.game {
  width: 184px;
}

table.popular-games td.playtime {
  font-size: 150%;
  font-weight: bold;
  padding: 0px 30px;
}

/**
 * events.*
 */
span.badge-past {
  background-color: #d74c47;
}

span.badge-present {
  background-color: #439e4c;
}

span.badge-future {
  background-color: #6bafd9;
}

/**
 * events.schedule
 */
div#schedule {

  div.fc-toolbar {
    margin-right: 0.5em; /* move toolbar left */
  }

  td.fc-state-highlight { /* remove schedule background */
    background-color: transparent;
  }

  .fc-today {
    background-color: #1a1a1a;
  }

  thead {
    border: none;
  }

  th.fc-widget-header,
  td.fc-widget-header { /* remove outer borders */
    border: none;
  }

  td.fc-widget-content { /* subtle inner borders*/
    border: 1px dotted #444;
  }

  hr.fc-widget-header {
    border: 1px dotted #444;
    background-color: #222;
  }

  .fc-event-bg { /* hide event overlay */
    display: none;
  }
}

/**
 * slides.display
 */
div.container-1920x1080 {
  /* set container initial and maximum sizes */
  max-width: 1920px;
  width: 1920px;
  max-height: 1080px;
  height: 1080px;

  /* disable scrollbars */
  overflow: hidden;
}

div.slide-container {
  /* make slides overlap one another to allow cross-fading in Vue */
  position: absolute;

  /* set size same as parent to allow "align-self" on children to work*/
  width: inherit;
  height: inherit;

  /* horizontally center-align child elements */
  justify-content: center;
  display: flex;

  /* make text easier to read when on a white background */
  text-shadow: 1px 0 5px #000, 0 -1px 5px #000, 0 1px 5px #000, -1px 0 5px #000;
}

div.markdown-slide {
  /* horizontally center-align contained text */
  text-align: center !important;

  /* vertically center align div in parent */
  align-self: center;
  max-width: 1920px;
  max-height: 1080px;
  overflow: hidden;
}

img.image-slide {
  /* make image fill all available space */
  width: inherit;
  height: inherit;

  /* display image at maximum size of parent without changing aspect ratio or cropping */
  object-fit: contain;
}

iframe.website-slide {
  /* make iframe fill all available space */
  width: inherit;
  height: inherit;
  border: none;
}

div.tv {
  /* set font size to be readable from 10ft / 3m away */
  font-size: 54px;
}

div#fullscreen-button {
  position: absolute;
  bottom: 15px;
    right: 15px;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

a[target="_blank"]::after,
a.external::after {
    content: " \f08e";
    font: normal normal normal 11px/1 FontAwesome;
}
