/* -------------------------------------------------------------------
   GENERAL
   -------------------------------------------------------------------
*/
body {
	background-image: url('../img/bg-html.jpg');
	padding-top: 40px;
}

div.fullscreen {
	margin-left: 0px;
	margin-right: 0px;
	max-width: none;
}

div.alert a {
	color: inherit;
	font-weight: bold;
}

form.inline {
	display: inline;
}

a.permalink {
	font-size: 60%;
	display: none;
}

h1:hover a.permalink,
h2:hover a.permalink,
h3:hover a.permalink,
h4:hover a.permalink,
h5:hover a.permalink,
h6:hover a.permalink {
	display: inline;
}

/* -------------------------------------------------------------------
   AVATARS
   -------------------------------------------------------------------
*/
img.avatar {
	border: 1px solid;
}
img.avatar-small {
	border-width: 1px;
}
img.avatar-medium {
	border-width: 2px;
}
img.avatar-large {
	border-width: 3px;
}
img.avatar-in-game {
	border-color: #19A601;
}
img.avatar-online {
	border-color: #01ABFE;
}
img.avatar-offline {
	border-color: #333;
}

/* -------------------------------------------------------------------
   TABLES
   -------------------------------------------------------------------
*/
.col-centered {
    float: none;
    margin: 0 auto;
    text-align: center;
}

/* -------------------------------------------------------------------
   FOOTER
   -------------------------------------------------------------------
*/
footer {
	border-top: 1px solid #333;
	margin-top: 15px;
	padding: 5px 0 40px 0;
}

/* -------------------------------------------------------------------
   NAVBAR
   -------------------------------------------------------------------
*/

 /* vertically center brand image & user menu */
.navbar a.navbar-brand,
.navbar a.navbar-user {
	padding: 8px 15px;
	height: 50px;
}

/* vertically center signin button */
.navbar a.navbar-signin {
	padding: 13px 15px;
	height: 50px;
}

/* -------------------------------------------------------------------
   USER - PROFILE
   -------------------------------------------------------------------
*/

div.profile-header div.profile-avatar {
	height: 190px;
	float: left;
}

div.profile-header h1 {
	margin: 0px;
	line-height: 190px;
}

@media (max-width: 1200px) { /* move profile name under avatar for small screens*/
	div.profile-header h1 {
		line-height: inherit;
		clear:both;
	}
}

div.profile-nav {
	margin-top: 5px;
}

/* -------------------------------------------------------------------
   SHOUT - INDEX
   -------------------------------------------------------------------
*/
form.shout-create div.input-group {
	width: 100%;
}

form.shout-create div.input-group span.input-group-btn {
	width: 54px;
}

span.shout-pin {
	color: #0f0;
	line-height: 68px;
	font-size: 1.5em
}

div.shout-management {
	line-height: 68px;
}

small.timestamp {
	color: #777;
}

/* -------------------------------------------------------------------
   STATES - CURRENT USAGE
   -------------------------------------------------------------------
*/
table.states-current-usage tr td { /* verticdally centred rows */
	vertical-align: middle;
}

table.states-current-usage td.application { /* snug logo size */
	width: 184px;
}

table.states-current-usage td.user-count { /* easy to read user count */
	font-size: 200%;
	font-weight: bold;
	padding: 0px 30px;
}

/* -------------------------------------------------------------------
   EVENTS - TIMETABLE
   -------------------------------------------------------------------
*/
div#timetable {
	margin-top: -42px; /* move timetable up */
}

div#timetable td.fc-state-highlight { /* remove timetable background */ 
	background-color: transparent;
}

div#timetable thead {
	border: none;
}

div#timetable th.fc-widget-header,
div#timetable td.fc-widget-header { /* remove outer borders */
	border: none;
}

div#timetable td.fc-widget-content { /* subtle inner borders*/ 
	border: 1px dotted #444;
}

div#timetable hr.fc-widget-header {
	border: 1px dotted #444;
	background-color: #222;
}

div#timetable .fc-event-bg { /* hide event overlay */ 
	display: none; 
}

div#timetable .timeline { /* green timeline */
	position: absolute;
	background: transparent;
	border: none;
	border-top: 2px solid #0f0;
	width: 100%;
	z-index: 999;
}

/* -------------------------------------------------------------------
   EVENTS - LIST
   -------------------------------------------------------------------
*/
span.label-status-past {
	background-color: #d74c47;
}

span.label-status-present {
	background-color: #439e4c;
}

span.label-status-future {
	background-color: #6bafd9;
}

/* -------------------------------------------------------------------
   EVENTS - CREATE
   -------------------------------------------------------------------
*/
form.event-create { /* extra space for date time pickers */
	margin-bottom: 150px; 
}

form.event-create .bootstrap-datetimepicker-widget ul td.day:hover,
form.event-create .bootstrap-datetimepicker-widget ul td.hour:hover,
form.event-create .bootstrap-datetimepicker-widget ul td.minute:hover,
form.event-create .bootstrap-datetimepicker-widget ul td span:hover,
form.event-create .bootstrap-datetimepicker-widget ul thead tr:first-child th:hover { /* dark green hover */ 
	background: #19A601;
}

form.event-create .bootstrap-datetimepicker-widget ul td.active,
form.event-create .bootstrap-datetimepicker-widget ul td span.active { /* light green selected */ 
	background: #2AE208;
}

/* -------------------------------------------------------------------
   PLAYLIST ITEMS - INDEX
   -------------------------------------------------------------------
*/
form.playlist-item-create div.input-group {
	width: 100%;
}

form.playlist-item-create div.input-group span.input-group-btn {
	width: 54px;
}

/* -------------------------------------------------------------------
   PLAYLIST - SHOW (SCREEN)
   -------------------------------------------------------------------
*/
div#now-playing, div#submitter {
	font-size: 150%;
}

div#submitter img {
	padding-left: 5px;
}
